<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
    <title>{{.Title}}</title>
  </head>
  <body>
    <main class="content">
      <h1>{{.Title}}</h1>

      {{ with .Site.Params.location }}
      <div class="location">{{.}}</div>
      {{ end }}

      {{.Content}}
      <div class="icons">
        {{ with .Site.Params.email }}
        <a class="icon-link" href="mailto:{{.}}">
					{{ partial "fontawesome.html" "envelope" }}
        </a>
        {{ end }}
        {{ with .Site.Params.github }}
        <a class="icon-link" href="{{.}}">
					{{ partial "fontawesome.html" "github" }}
        </a>
        {{ end }}
        {{ with .Site.Params.twitter }}
        <a class="icon-link" class="icon-link" href="https://twitter.com/{{.}}">
					{{ partial "fontawesome.html" "twitter" }}
        </a>
        {{ end }}
        {{ with .Site.Params.linkedin }}
        <a class="icon-link" href="{{.}}">
					{{ partial "fontawesome.html" "linked-in" }}
        </a>
        {{ end }}
        {{ with .Site.Params.mastodon }}
        <a rel="me" class="icon-link" href="{{.}}">
					{{ partial "fontawesome.html" "mastodon" }}
        </a>
        {{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
