:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #000000;
		color: #D9E0EE;
	}
	h1 {
		color: #E5B4E2;
	}
	.content {
		background: #1E1E2E;
		color: #D9E0EE;
	}
	.location {
		color: #F66733;
	}
	a:link {
		color: #96CDFB;
	}
	.icon-link:link {
		color: #F5E0DC;
	}

	footer {
		color: #F3F3EE;
	}

	footer a:visited {
		color: #C9CBFF;
	}
}
@media (prefers-color-scheme: light) {
	body {
		background: #b2f7ef;
		color: #5E6472;
	}
	h1 {
		color: #ff5d8f;
	}
	h2 {
		color: #ff87ab;
	}
	.content {
		background: #fffbff;
		color: #5E6472;
	}
	.location {
		color: #F66733;
	}
	a:link {
		color: #8093f1;
	}
	a:visited {
		color: #b388eb;
	}
	.icon-link:link {
		color: #ff5d8f;
	}
}

body {
  font-family: Helvetica;
  padding: 0.5vh;

  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1vh;
}



@media (max-width: 400px) {
  .content {
    margin: 10px;
    padding: 10px;
    min-width: 85vw;
  }
}

@media (min-width: 401px) {
  .content {
		margin: 30px;
		padding: 30px;

		border-radius: 30px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: small;
  margin-top: 0.2vh;
}


.inline-svg {
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	top: 0.5rem;
	position: relative;
}

.icon-link:link {
  text-decoration: none;
}

a {
  transition: all .2s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

footer {
  align-self: center;
  justify-self: flex-end;
  font-size: small;
}
