body {
  background: #353238;
  color: #F3F3EE;

  font-family: Helvetica;
  padding: 0.5vh;

  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;
}

main {
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #D3435B;
  margin-top: 1vh;
}

.content {
  margin: 30px;
  padding: 30px;

  background: #F3F3EE;
  color: #353238;

  border-radius: 30px;
  max-width: 370px;
  min-width: 200px;
}

@media (min-width: 376px) {
  .content {
  }
}

@media (max-width: 375px) {
  .content {
    margin: 15px;
    padding: 15px;
    min-width: 100px;
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 2em;
  margin-top: 0.2vh;
}

.location {
  color: #F66733;
}

a:link {
  color: #7AAA91;
}


.icon-link:link {
  color: #353238;
  text-decoration: none;
}

.icon-link:visited {
  color: #353238;
}


a {
  transition: all .2s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

footer {
  color: #F3F3EE;

  align-self: center;
  justify-self: flex-end;
}


footer a:visited {
  color: #8E75AD;
}

footer a:link {
  color: #7AAA91;
}
